@tailwind base;
@tailwind components;
@tailwind utilities;

.button, button {
    @apply rounded-md px-4 py-1 block;
}

.input, input {
    @apply text-black rounded-lg px-4 py-2 block border w-full;
}

h1 {
    @apply text-xl font-semibold;
}

h2 {
    @apply text-lg font-semibold;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    @apply flex flex-col gap-y-2 items-start;
}
